<div class="parent">
    <div class="title-containor">
        <h1>Product Details</h1>
        <button type="button" class="btn btn-primary" >Add Products</button>
    </div>
    <table border="table table-striped">
        <thead>
            <tr>
                <th>Mobiles</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Rating</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>iphone</td>
                <td>Apple</td>
                <td>5000</td>
                <td>4.5</td>
                <td>
                    <button type="button" class="btn btn-success">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>
