<div class="parent">
    <div class="child">
        <div class="left">
            <h1>My Website</h1>
            <hr>
            <h4 routerLink="home">Home</h4>
            <h4 routerLink="about">About</h4>
            <h4 routerLink="data-binding">Data-Binding</h4>
            <h4 routerLink="calculator">calculator</h4>
            <h4 routerLink="rectangle">Rectangle</h4>
            <h4 routerLink="circle">circle</h4>
            <h4 routerLink="bmi">BMI</h4>
            <h4 routerLink="table">Table</h4>
            <h4 routerLink="vehicle-data">vehicle-data</h4>
            <h4 routerLink="cars">cars</h4>
            <h4 routerLink="myntra">myntra</h4>
            <h4 routerLink="bikes">bikes</h4>
            <h4 routerLink="refresh">refresh</h4>
            <h4 routerLink="flipkart">flipkart</h4>
            <h4 routerLink="mail">mail</h4>
            <h4 routerLink="accounts">Accounts</h4>
            <h4 routerLink="angularMaterial">AngularMaterial</h4>
            <h4 routerLink="products">products</h4>
            <h4 routerLink="create-bike">create-bike</h4>
            <h4 routerLink="bikesLogIn">Bikes-Login-Account</h4>
            <h4 routerLink="form">Form-Accounts</h4>
            <h4 routerLink="userForm">userForm</h4>
            <h4 routerLink="formtask">Form-Task</h4>
            <button (click)="logout()">logout</button>
            
        </div>
        <div class="right">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
